@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}
html,
body {
  height: 100%;
}
#root {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 30;
}
body {
  @include fluid-text(28, 14);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-text);
  background-color: var(--bg-color);
}

main {
  flex: 1 0 auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

h1,
.h1 {
  @include fluid-text(50, 23);
  font-weight: 700;
  line-height: 1.4;
}

h2,
.h2 {
  @include fluid-text(48, 32);
}

h3,
.h3 {
  @include fluid-text(40, 28);
}

h4,
.h4 {
  @include fluid-text(28, 20);
  font-weight: 400;
}

h5,
.h5 {
  @include fluid-text(20, 18);
  font-weight: 400;
}
a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
svg {
  color: var(--color-svg);
}
a {
  color: inherit;
  cursor: pointer;

  @include hover {
    color: var(--color-purple-10);
  }
  &[class] {
    text-decoration: none;
  }
}
:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

.button {
  background: var(--linear);
  border: none;
  color: var(--color-light);
  text-transform: uppercase;
  padding: rem(18) rem(38);
  letter-spacing: 0.11em;
}
.link {
  border: var(--border);
  padding: rem(12) rem(24);
  border-image: var(--border-image);
  filter: hue-rotate(360deg);
  @include hover {
    color: var(--color-light);
    animation: linearGradient 1s infinite linear;
  }
}

.link--underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.link--underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--linear);
  transition: width 0.3s ease;
}
.link--underline:hover::before {
  width: 100%;
}
@keyframes linearGradient {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media (prefers-reduced-motion: reduce) {
  .preloader * {
    animation: none !important;
    transition: none !important;
  }
}
