@use 'helpers' as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
  @include tablet {
    padding-inline: rem(24);
  }
}

.visually-hidden {
  @include visually-hidden;
}
.accent-color {
  color: var(--color-purple-10);
}
.gold-color {
  color: var(--color-gold);
}
.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}
.visible-tablet {
  @include tablet-above {
    display: none !important;
  }
}
.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}
.preview {
  position: absolute;
}
